.package {
  flex: 0 0 20rem;

  background: $color-grey-light-1;
  padding: 2rem;
  border-radius: 2rem;
  @include respond(tab-land) {
    max-height: 35vh;
    @include flex(column, space-evenly, center);
  }
  @include respond(tab-port) {
    max-height: 45vh;
  }
  &-header {
    margin-bottom: auto;
    position: relative;
    text-align: center;
    &__wishlist {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      position: absolute;
      overflow: hidden;
      top: 1rem;
      right: 2rem;
    }
    &__price {
      color: $color-primary;
      background: $color-grey-light-1;
      border-radius: 1rem;
      max-width: 12rem;
      margin: auto;
      padding: 1.2rem 2rem;
      position: relative;
      top: -4vh;
      @include respond(tab-land) {
        top: -2vh;
      }
    }
  }
  &-content {
    text-align: center;
    @include flex(column, space-evenly, center);
    margin: auto;
    & > *:not(last-child) {
      margin-bottom: 1.2rem;
    }

    p {
      line-height: 1.5;
    }
  }
}

.package__reveal {
  opacity: 0;
  transition: 0.2s all ease-in;
  &--visible {
    opacity: 1;
  }
}
