.subscribe {
  @include centerAuto;
  @include flex(row, space-evenly, center);
  padding: 4rem;
  border-radius: 2rem;
  flex-wrap: wrap;
  background: linear-gradient(
    105deg,
    #f5b1a1 0% 20%,
    #f8e1db 50% 75%,
    #ebbdb1 85% 100%
  );
  @include respond(tab-port) {
    order: 2;
  }
  &-form {
    @include respond(tab-port) {
      order: 2;
      flex: 0 1 60rem;
    }
    flex: 0 0 35rem;
    @include flex(column, space-evenly, flex-start);
    height: 30vh;

    svg {
      display: none;
    }

    .form {
      width: 100%;
      .email {
        @include flex(row, center, center);
        background: $color-white;
        padding: 0 1rem;
        border-radius: 1rem;

        &__input {
          padding: 1rem;
          border: none;
          width: 100%;
          &:focus {
            outline: none;
          }
        }

        button {
          background: $color-primary-dark;
          border-radius: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }
  &-image {
    .image-sub {
      text-align: center;
      &__img {
        width: 70%;
        @include respond(tab-port) {
          width: 90%;
        }
      }
    }
  }
}
