.hero {
  &-content {
    position: absolute;
    top: 50%;
    color: $color-primary;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-grey-light-1;
    text-align: center;
    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(phone) {
      width: 90%;
    }
    &__heading {
      animation-name: tofro;
      animation: rotate360 2s ease-in infinite;
      animation-delay: 0s;

      line-height: 1.2;
      color: $color-primary;
    }
    &__subheading {
      max-width: 40rem;
      margin: auto;
      color: $color-primary;

      font-weight: 500;
      line-height: 1.5;
      @include respond(tab-land) {
        max-width: 100%;
      }
    }
    button {
      margin-top: 2rem;
      font-weight: 600;
    }
  }
}
