html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-grey-dark-1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-primary;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-primary-light;
    cursor: pointer;
  }
}
